## Testatpr√ºfung

## Aufgabe 3a

In [13]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np
from scipy.stats import t

data = Series([1.00, 0.96, 1.02, 1.00, 1.002, 1.022, 0.99, 0.98, 0.93], index=("April 5", "April 6","April 7","April 8","April 9","April 13","April 14","April 15","April 16",))

In [8]:
data

April 5     1.000
April 6     0.960
April 7     1.020
April 8     1.000
April 9     1.002
April 13    1.022
April 14    0.990
April 15    0.980
April 16    0.930
dtype: float64

In [9]:
data.mean()

0.9893333333333333

In [10]:
data.std()

0.029291637031753616

In [11]:
data.std() / np.sqrt(data.size) / data.mean()

0.009869149943313213

In [15]:
t.cdf(x=0.9893, df=8, loc=1, scale=0.0293/np.sqrt(9))

0.1525763505337521

In [16]:
t.interval(alpha=0.95, df=8, loc=0.98933, scale=0.02939/np.sqrt(9))

(0.9667388461571231, 1.011921153842877)

In [19]:
import scipy.stats as st

tage = st.uniform.rvs(size=100, loc=0, scale=15)

In [23]:
import matplotlib.pyplot as plt

In [22]:
tage.plot(kind="hist")

AttributeError: 'numpy.ndarray' object has no attribute 'plot'

In [47]:
import pandas as pd
schoko = pd.read_table(r"Schokolade_Nobelpreis.txt", sep=" ")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 3

In [44]:
schoko

   laureates "choco"
0         30.677 4.4
1        30.125 10.2
2         24.947 9.2
3         24.695 7.9
4         24.577 8.5
5         19.315 8.8
6         17.06 8.8
7         13.013 9.1
8         11.226 4.5
9        10.970 5.3
10         9.473 4.9
11         8.850 9.1
12         7.268 6.2
13         6.400 3.9
14         5.006 4.8
15         3.345 3.5
16         1.932 2.0
17        1.896 1.8
18         1.826 2.5
19         1.735 1.6
20        0.065 0.7
21         0.048 1.0